@import url('https://fonts.googleapis.com/css?family=Quicksand');
th {
    background-color: #48A84C;
    padding: 5px;
}
tr {
    text-align: center;
} 
table {
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    margin-top: 15px;
    width: 100%;
}
a.githubLinks {
    text-decoration: none;
    color:black;
}
a.githubLinks:hover {
    color: grey;
}